
html { 
  background-image: linear-gradient(87deg,#5fdff0 0,#d8d2af 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Lazy and hacky way to add margin to images*/
img {
  margin: 1%;
}

