
.header {
  background-color: whitesmoke;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.name {
  display: inline-block;
  background: rgb(209, 186, 156);
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 25px;
  color: white;
  padding: 20px;
}

nav {
  float: right;
  margin-top: 27px;
}

nav a {
  margin: 0 10px;
}

.trim {
  border: solid navy .5px;
}

.trim:after {
  content: "";
  display: table;
  clear: both;
}